<html>
<head></head>
<body>
<p style="color:red">{{error}}</p>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<a href="{{ path('user_new') }}">Sign In</a>
</body>
</html>

