{% extends 'base.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <table>
        <thead>
            <tr>
                <th>Password</th>
                <th>Creationdate</th>
                <th>Alias</th>
                <th>Gender</th>
                <th>Dateofbirth</th>
                <th>City</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.email }) }}">{{ user.password }}</a></td>
                <td>{% if user.creationdate %}{{ user.creationdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.alias }}</td>
                <td>{{ user.gender }}</td>
                <td>{% if user.dateofbirth %}{{ user.dateofbirth|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.email }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.email }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
